
<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Source Code</h4>
              <p class="card-category">Provided by our friends from
                  <a target="_blank" href="https://github.com/asudbury">Github</a>
              </p>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card-body">
                      <div class="col-md-12">
                          <h5>
                              <a href="https://github.com/asudbury/angular-material-dashboard" target="_blank">View Github Repository</a>
                          </h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
